:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  color: var(--text-color);
  background-color: #fafafa !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.layout-main-container {
  margin: 1px;
  padding-top: 4rem !important;
  padding-bottom: 3.5rem !important;
}

.css-hyum1k-MuiToolbar-root {
  min-height: 50px !important;
}

.p-fileupload .p-fileupload-content {
  padding: 1rem !important;
}

/* .p-fileupload-buttonbar {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .p-fileupload-buttonbar {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
